//Definimos los colores que utilizaremos en la web
$color-primary: rgb(160, 127, 21);
$color-secondary: #5596e6;
$color-tertiary: #41d6c3;

//Color menú
$color-menu-background: #333;
$color-menu-background-hover: #111;
$color-menu-letra: white;
$color-menu-letra-hover: white;

//Tamaño del col-1
$col-1: 80 / 960 * 100%;

//Tamaño general para imágenes e iframes
$anchoImagen: 100%;
$anchoIframe: 100%;
